// COLORS
$black: #2b3940;
$gray: #fafbfa;
$gray2: #888;
$gray3: #ddd;
$gray4: #f6f6f6;
$gray5: #eee;
$green: #00b074;
$green2: #008e5e;
$white: #fff;

// FONTS
$font-stack: "Lato", sans-serif;
$font-stack2: "Roboto Mono", sans-serif;
